SSH_PORT=2222
QKD_ENC_IPPORT=172.24.160.15
QKD_DEC_IPPORT=172.24.160.15
QKD_ENC_SAE_ID=CONS_BUC_IFIN
QKD_DEC_SAE_ID=CONS_BUC_IFIN
QKD_ENC_KME=
QKD_DEC_KME=
SELF_REPORTING=true
REPORT_ENDPOINT=http://127.0.0.1/update-app
REPORTING_NAME=qssh
REPORT_TRUST_SELF_SIGNED=true
REPORT_TOKEN=1234

