Port 2222
Protocol 2
HostKey /etc/ssh/ssh_host_rsa_key
SyslogFacility AUTH
LogLevel DEBUG3

PermitRootLogin yes
StrictModes no


# Allow password authentication for testing (optional)
PasswordAuthentication yes

# Use PAM authentication
UsePAM yes
